#box-container{background: gray; display: flex; height: 500px; justify-content: center;}
#box-1{border: 5px solid dodgerblue; width: 25%; height: 98%; flex-grow: 1; order: 2;}
#box-2{border: 5px solid orangered; width: 25%; height: 98%; flex-grow: 2; order: 1;}